* {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

body,
html {
  height: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
}

.bg {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bg .bg {
  background-image: url("https://images.unsplash.com/photo-1563089144-e2bb63a32bc6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
}

.main {
  margin-top: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.contact__icon {
  width: 75px;
  height: 75px;
  display: inline-block;
  color: white;
  border: 4px solid white;
  padding: 0;
  border-radius: 6px;
  margin: 36px 16px 0px 16px;
}

.contact__icon--div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  height: 124px;
}

.header__text--div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Sacramento', cursive;
  font-size: 3rem;
  padding: 0 16px 0 8px;
  text-align: center;
}

h1.header__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3rem;
  color: white;
  width: 100%;
  margin-right: 0 auto;
  display: flex-row;
}

.nav__link-div {
  margin-top: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  display: flex;
}

.nav__link {
  margin-top: 180px;
  padding: 24px 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 4px solid white;
  border-radius: 6px;
  width: 12rem;
  height: 100px;
  margin-bottom: 24px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  text-decoration: none;
  font-size: 2rem;
  color: white;
}

a::visited {
  text-decoration: none;
  color: white;
}

.icon-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
}

.icon {
  width: 100px;
  height: 100px;
}

@media screen and (min-width: 1200px) {
  h1.header__text {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    max-width: 400;
  }
}

@media screen and (min-width: 768px) {
  .body .header__text-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
  }
  h1.header__text {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-left: 16px;
  }
}

.profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 50px;
  margin-top: 16px;
  margin-bottom: 36px;
}

.bio {
  padding: 0 24px 0 32px;
}

.bio p {
  margin-top: 0;
  font-size: 14px;
  line-height: 32px;
  color: white;
}
/*# sourceMappingURL=index.css.map */